*
!package.json
!package-lock.json
!turbo.json
!server/
!packages/core/
**/node_modules/
**/.git/
**/.next/
**/.turbo/
**/dist/
**/release/
**/desktop/
/mobile/
**/client/
*.md
*.log
.env
.env.*
!.env.example
telemetry.json
